---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="flex flex-col items-center">
    <h1 class="my-4">Astro - pratique</h1>
    <a href="/toDoList">To do list &gt;</a>
    <a href="/counter">Counter &gt;</a>
    <a href="/calculator">Calculator &gt;</a>
    <a href="/randomQuotes">Random Quotes &gt;</a>
    <a href="/weather">Weather &gt;</a>
  </body>
</html>

<style>
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  h1 {
    @apply text-2xl;
  }

  a {
    @apply text-blue-500;
  }
</style>
