---
import RandomQuotes_component from "../react/RandomQuotes.jsx";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1 class="flex flex-col justify-center items-center my-4">
      Random Quotes from an API
    </h1>
    <RandomQuotes_component client:idle />
  </body>
</html>

<style>
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  h1 {
    @apply text-2xl;
  }
</style>
